body {
  background:#ffffff;
  width:80%;
  padding-top:10%;
  padding-left:10%;
  padding-right:10%;
}
h1,h2,h3,h4,h5,text,li,ul,font,p {
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
}
